python-dotenv
dependency-injector
sqlalchemy[asyncio]
asyncpg
psycopg2
sqlalchemy
devtools
alembic
pytest
pytest-mock
pytest-asyncio
asynctest
pydantic-yaml
pydantic-settings
fastapi
uvicorn[standard]
redis
python-multipart